#include "locale.pas"

STRINGTABLE
{
  SCannotFindLicense, "LICENSE.TXT not found.  You can obtain "
    "a GNU General Public License by writing to the Free Software "
    "Foundation Inc., 675 Mass Ave, Cambridge, MA 02139, USA.";
  SCannotRunNotepad, "Не удалось открыть Блокнот. Прочитайте LICENSE.TXT "
    "в другом текстовом редакторе.";
  SWelcome, "Добро пожаловать";

  SCannotMoveToBin, "Невозможно переместить %s в корзину.";
  SCannotRestoreItem, "Невозможно восстановить %s.";
  SCannotRestoreFolderOverFile, "Невозможно восстановить папку %s, так как "
    "этот файл использует точно такое же имя.";
  SQueryReplaceFile, "Вы действительно хотите заменить существующий файл с "
    "именем %s?";

  SDriveRefPrompt, "&Диск:";
  SFolderRefPrompt, "&Папка:";
  SFileRefPrompt, "&Файл:";
  SInternetRefPrompt, "&URL:";

  SMenuCascadeBrowsers, "Cascade browsers";
  SMenuArrangeIcons, "Упорядочить значки";
  SMenuLineUpIcons, "Выстроить значки";
  SMenuCloseBrowsers, "Стереть браузеры";
  SMenuClearDesktop, "Очистить рабочий стол";
  SMenuProperties, "Свойства...";
  SMenuAbout, "О программе...";
  SSelectFolder, "Выбрать папку";
  SAliasProperties, "Свойства псевдонима";
  SShortcutProperties, "Свойства ярлыка";
  SMenuShortcutProperties, "&Свойства...";
  SMenuShortcutOpen, "&Oткрыть";
  SMenuShortcutRemove, "&Удалить";
  SMenuShortcutMove, "&Переместить";
  SMenuBinEmpty, "Очистить корзину";

  SCloseUnnamedDialog, "Сначала закройте активные диалоговые окна Calmira.";
  SCloseSpecificDialog, "Сначала закройте диалоговое окно \"%s\".";
  SNotifyEndWindows, "Завершить сеанс Windows?";
  SQueryQuit, "Вы действительно хотите закрыть Calmira?";
  SOpenFolder, "Открыть папку";
  SFolderName, "Имя папки";
  SUnknownCommand, "Неизвестная команда \"%s\"";
  SCannotOpenFolder, "%s не найден.\n";
    "Эта папка может быть удалена или устройство не готово.";
  SQueryReplaceAlias, "Вы действительно хотите заменить существующий псевдоним?";
  SCannotOpenTarget, "%s не найден.\n";
    "Убедитесь, что файл или папка, на который указывает ярлык, существует.";
  SQueryDeleteShortcut, "Вы действительно хотите удалить ярлык \"%s\"?";

  SFileAlreadyExists, "Названный файл %s уже существует.";
  SFolderAlreadyExists, "Названная папка %s уже существует.";
  SCannotChangeAttr, "Невозможно изменить атрибуты для %s";
  SInvalidFilename, "%s - неверное имя файла.";
  SCannotRename, "Невозможно переименовать %s to %s.";
  SChangeDescription, "Изменить описание";
  SDescribe, "Описать \"%s\":";
  SCannotOpenFileWith, "Невозможно открыть файла %s с помощью программы %s";
  SCannotPutFolderOnSelf, "Вы не можете копировать или переместить папку в саму себя.";
  SCannotPutFolderInSelf, "Вы не можете копировать или переместить папку в один из"
    "этих подкаталогов.";
  SCannotPutFolderOverFile, "Вы не можете копировать или переместить файл %s, так как "
    "файл с таким же именем уже существует.";

  SQueryAffectProtected, "%s - файл только для чтения, скрытый или системный файл.\n"
    "Вы действительно хотите с этим файлом %s сделать?";
  SCannotCopyFileToSelf, "Вы не можете копировать файл %s в себя.";
  SCannotMoveFileToSelf, "Вы не можете переместить файл %s в себя.";
  SCannotCreateFolder, "Невозможно создать папку %s.";
  SCannotReplaceFile, "Невозможно заменить %s.";
  SCannotMoveFile, "Невозможно переместить %s.";
  SCannotCyclicCopy, "Вы не можете копировать папку в себя или одну из подпапок.";
  SCannotCyclicMove, "Вы не можете переместить папку в себя или одну из подпапок.";
  SCannotDeleteFile, "Невозможно удалить %s.";
  SNoFilesFound, "Файлы не найдены.";
  SCannotRunDefViewer, "Не удалось запустить просмотрщика по умолчанию. ";
    "Укажите просмотрщик файла по умолчанию в \"Свойствах файловой системы\"."
  SFileNotAssociated, "Этот файл не ассоциирован с программой. "
    "Сначала ассоциируйте или выберите просмотрщика файла по умолчанию.";
  SCannotRunOrView, "Не удалось запустить программу или просмотреть файл %s.";
  SConfirmNewFolder, "%s не существует.  Создать новую папку?";

  SNetSuccess, "Подключение/отсоединение произошло успешно";
  SNetNotSupported, "Эта операция не поддерживается";
  SOutOfMemory, "Недостаточно памяти";
  SNetError, "Произошла ошибка в сети";
  SBadPointer, "Неверный указатель";
  SBadNetworkResource, "Неверное имя ресурса сети";
  SBadLocalName, "Неверное локальное устройство";
  SInvalidPassword, "Пользователь неизвестен или неверный пароль";
  SAccessDenied, "Доступ запрещен";
  SFilesWereOpen, "The connection was not cancelled because there are files open";
  SAlreadyConnected, "Это устройство уже подключено удаленно";
  SNetOperationFailed, "Ошибка подключения/отсоединения";
  SQueryCloseOpenFiles, "Вы действительно хотите закрыть любые открытые файлы или работу принтера?";

  SQueryBinItems, "Вы действительно хотите переместить %d элемент%s из %s в корзину?";
  SQueryCopyItems, "Вы действительно хотите копировать %d элемент%s из %s в %s?";
  SQueryMoveItems, "Вы действительно хотите переместить %d элемент%s из %s в %s?";
  SQueryDeleteItems, "Вы действительно хотите удалить %d элемент%s с %s?";
  SCannotPutToSelf, "You cannot copy or move items to themselves.";
  SCreateFolder, "Создать папку";
  SNewFolderName, "Введите имя папки:";
  SRename, "Переименовать %s";
  SNewFilename, "Введите новое имя файла:";
  SCreateAlias, "Создать псевдоним";
  SAliasFilename, "Введите псевдоним имени файла:";
  SPrintFile, "Печать файла";
  SFilename, "Введите имя файла:";
  SDuplicateFile, "Клонировать %s";
  SDirectoryOf, "Папка ";

  SCopy, "Копировать";
  SMove, "Переместить";
  SDelete, "Удалить";
  SCopyFile, "Скопировать файл";
  SMoveFile, "Переместить файл";
  SCopyFolder, "Скопировать папку";
  SMoveFolder, "Переместить папку";
  SDeleteFile, "Удалить файл";
  SDeleteFolder, "Удалить папку";
  SProgressCopy, "Копирование...";
  SProgressMove, "Перемещение...";
  SProgressDelete, "Удаление";
  SProgressBinning, "Перемещение в корзину";
  SProgressRestoring, "Восстановление из корзины";
  SProgressEmptying, "Очистка корзины";

  SAddMenuItem, "Добавить пункт меню";
  SInsertMenuItem, "Вставить пункт меню";
  SMenuItemProperties, "Свойства пункта меню";
  SQueryDeleteMenu, "Вы действительно хотите удалить подменю?";
  SCannotFindProgman, "Не удалось найти Диспетчер программ.";
  SCaptionNeedsText, "Описание меню не может быть пустым.";
  SQuerySaveAdvanced, "Вы действительно хотите сохранить расширенные настройки?";
  SAddAdvanced, "Добавить запись";
  SIdentValue, "Идент=Значение";
  SModifyAdvanced, "Редакт. запись";
  SAddExclusion, "Добавить исключение панели задач";
  SModifyExclusion, "Редакт. исключение панели задач";
  SModuleClass, "Module [classname]";
  SAddApplet, "Добавить апплет программы в трее";
  SModifyApplet, "Редакт. апплет программы в трее";
  SAppletFormat, "<Всплыв. подсказка>=<командная строка>";

  SUnknown, "Неизвестно";
  SFolderContents, "%s в %d файлов";
  SSelectionContents, "%d файлов в %d папках";
  STotalContents, "%d файлов, %d папок, %s итого";
  SVersion, "Версия";
  SAssociation, "Ассоциация";
  SAssociateTypeWith, "Ассоциировать тип файла .%s с:";
  SNoRegCommand, "Нет указанных команд.";
  SSpecifyFiles, "Укажите файлы для поиска.";
  SStopSearch, "Стоп";
  SStartSearch, "Поиск";
  SNoMatchingFiles, "Нет найденных файлов.";
  SFindListboxFull, "Список диалогового окна \"Поиска\" переполнен.";

  SProductName, "Имя продукта";
  SLegalCopyright, "Копирайт";
  SDescription, "Описание";
  SType, "Тип";
  SSubType, "Подтип";
  SFileOS, "ОС";
  SComments, "Комментарии";
  SProductVersion, "Версия продукта";
  SFileVersion, "Версия файла";
  SCompany, "Компания";
  SLegalTrademarks, "Товарные знаки";
  SInternalName, "Внутреннее имя";
  SPrivateBuild, "Закрытая сборка";
  SSpecialBuild, "Специальная сборка";
  SOriginalFilename, "Оригинальное имя файла";
  SWOWVersion, "Версия WOW";

  SQueryTerminate, "WARNING: Terminating a program may cause undesired results "
    "including loss of resources and system instability. The program will not "
    "be able to save it's data. Are you sure you want to terminate \"%s\"?"

  SCreateNewUser, "Создать нового польз.";
  SUserName, "Имя пользователя:";
  SEnterPassword, "Введите пароль:";
  SConfirmPassword, "Подтвердите пароль:";
  SChangePassword, "Сменить пароль";
  SEnterOldPassword, "Введите старый пароль:";
  SEnterNewPassword, "Введите новый пароль:";
  SConfirmNewPassword, "Подтвердите новый пароль:";
  SInvalidUserName, "Имя пользователя неверное. Имя пользователя может содержать только "
    "буквы и цифры и должен содержать от 1 до 8 символов.";
  SPasswordMismatch, "Новый пароль не совпадает. Введите еще раз.";
  SEditEntryCaption, "Редакт. запись";
  SInvalidOldPassword, "Неверно введен старый пароль."

  SMObjOpen, "&Открыть";
  SMObjOpenWith, "Открыть &с помощью";
  SMObjInspect, "&Просмотреть";
  SMObjCut, "В&ырезать";
  SMObjCopy, "&Копировать";
  SMObjPaste, "&Вставить";
  SMObjDelete, "&Удалить";
  SMObjRename, "Пере&именовать";
  SMObjDescribe, "Опис&ать";
  SMObjEditAlias, "Редактировать &псевдоним";
  SMObjDuplicate, "К&лонировать";
  SMObjProperties, "Сво&йства";

  SMWinLargeIcons, "&Крупные значки";
  SMWinSmallIcons, "&Мелкие значки";
  SMWinDetails, "&Список";
  SMWinSortByName, "Сортировать по &имени";
  SMWinSortByType, "Сортировать по &типу";
  SMWinSortBySize, "Сортировать по &размеру";
  SMWinSortByDate, "Сортировать по &дате";
  SMWinFileSystem, "&Файловая система...";
  SMWinSetFilter, "Задать фильт&р...";
  SMWinCreateFolder, "Создать &папку...";
  SMWinCreateAlias, "Создать пс&евдоним...";

  SCorruptEXE, "Системе недостаточно памяти, или EXE-файл поврежден.";
  SFileNotFound, "%s не найден. Убедитесь, что путь корректен и "
    "файл существует.";
  SSharingError, "Нарушение совместного доступа или ошибка доступа к сети.";
  SDLLFailed, "Требуемая DLL-библиотека привело к ошибке загрузки приложения.";
  SAppOutOfMemory, "Недостаточно памяти для запуска приложения. "
    "Закройте ненужные окна и повторите попытку.";
  SIncorrectWinVer, "Это приложение требует новейшую версию Windows. "
    "(Эта ошибка обозначает несовместимость библиотек OLE.)";
  SInvalidEXE, "Неверный формат EXE. Либо приложение не предназначено для Windows, "
    "либо это ошибка в EXE-файле.";
  SNonWindowsApp, "Это неверное Windows-приложение. Оно разработано "
    "для другой операционной системы.";
  SRealModeApp, "Эта асоциированная программа для этого файла не может быть найдена, или "
    "это приложение разработано для поздних версий Windows.";
  SSecondInstance, "The application failed to load a second instance of itself.";
  SCompressedEXE, "Это сжатый исполняемый файл. Файл должен быть ";
    "распакован перед загрузкой.";
  SCorruptDLL, "Требуемая DLL-библотека для запуска приложения повреждена.";
  SRequiresWin32, "Это 32-битное приложение не поддерживает Win32s.";

  STHintParent, "Родительская папка";
  STHintNewFolder, "Создать папку";
  STHintConnect, "Подключить сетевой диск";
  STHintDisConnect, "Отсоединить сетевой диск";
  STHintCut, "Вырезать";
  STHintCopy, "Копировать";
  STHintPaste, "Вставить";
  STHintDelete, "Удалить";
  STHintRename, "Переименовать";
  STHintProperties, "Свойства";
  STHintLargeIcons, "Крупные значки";
  STHintSmallIcons, "Мелкие значки";
  STHintDetails, "Список";
  STHintSortName, "Сортировать по имени";
  STHintSortType, "Сортировать по типу";
  STHintSortSize, "Сортировать по размеру";
  STHintSortDate, "Сортировать по дате";

  SCFilename, "Имя файла";
  SCSize, "Размер";
  SCType, "Тип";
  SCModified, "Дата изменения";
  SCAttributes, "Атрибуты";
  SCDescription, "Описание";
  SCFile, " файл";
  SCFolder, "Папка";
  SCAlias, "Псведоним";
}
